.space {
  margin: 7rem 10% 7.5rem 10%;
}

body {
  font-family: sans-serif;
  background-color: #292929;
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
  line-height: 3.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  color: aliceblue;
  text-rendering: geometricPrecision;
  margin: 2.25rem 10% 6.75rem 10%;
}

.topicos {
  color: #eeeeee;
  margin: 2.25rem 10% 2.25rem 10%;
  width: 30%;
  float: left;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 1.75rem;
  text-rendering: geometricPrecision;
}

h4 {
  letter-spacing: 0.19rem;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

.animation {
  width: 2.25rem;
  filter: invert(1);
}

h2{
  margin: 2.25rem 10% 2.25rem 10%;
  letter-spacing: 0.19rem;
  font-size: 1.5rem;
  color: #eeeeee;
}

p{
  color: #eeeeee;
  margin: 1.5rem 10% 2.25rem 10%;
  float: left;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 1.75rem;
  text-rendering: geometricPrecision;
}




.dogtag{
  color: #eeeeee;
  margin: 2.25rem 0% 2.25rem 0;
  float: left;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  line-height: 3rem;
  text-rendering: geometricPrecision;
}

.profile{
  margin: 2.25rem 10% 2.25rem 10%;
  margin-right: 3%;
  width: 12.5rem;
  height: 12.5rem;
}