body{
  font-family: sans-serif;
}

h1{
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  color: #262626;
  text-rendering: geometricPrecision;
}