.space {
  margin: 3.375rem;
}

*{
  padding: 0;
  margin: 0;
}

/* Dark */
body{
  background-color: #292929;
}

/* Light */
h1, .topicos, a, h2, p{
  color: #eeeeee;
}



body {
  font-family: sans-serif;
}

#modePic {
  width: 2.25rem;
  float: right;
  filter: brightness(100);
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
  line-height: 3.5rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  text-rendering: geometricPrecision;
  margin: 3.375rem;
}

.topicos {
  vertical-align: top;
  display: inline-block;
  margin: 3.375rem;
  max-width: 25%;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 1.75rem;
  text-rendering: geometricPrecision;
}

h4 {
  letter-spacing: 0.19rem;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
}

.animation {
  width: 2.25rem;
  filter: invert(1);
}

h2{
  letter-spacing: 0.19rem;
  font-size: 1.5rem;
  margin-bottom: 1.6875rem;
}

p{
  text-align: justify;
  float: left;
  font-weight: normal;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 1.75rem;
  text-rendering: geometricPrecision;
}

.profile{
  float: left;
  display: inline-block;
  margin-top: 3.375rem;
  width: 12.5rem;
  height: 12.5rem;
  padding-right: 3.375rem;
}

.conteiner{
  display: block;
  max-width: 50%;
  margin: 3.375rem;

}

.conteiner p{
  display: block;
  margin-top: 3.375rem;
  font-size: 1rem;
  line-height: 3rem;
  vertical-align: top;
  padding-bottom: 3.375rem;
}

.aboutme{
  margin: 3.375rem;
}