*, body{
  margin: 0;
  padding: 0;
  background-color: rgb(21, 21, 21);
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  display: block;
  max-width: 20%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

h1{
  color: rgb(22, 240, 152);
  letter-spacing: 0.19rem;
  font-size: 1rem;
  text-align: center;
  margin-top: 3%;
}

h2{
  background-color: aliceblue;
  font-size: medium;
}

a{
  font-size: 0.88rem;
  color: rgb(21, 21, 21);
  background-color: aliceblue;
  border-radius: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5%;
  margin: 4%;
  font-size: small;
}

h3{
  color: aliceblue;
  font-size: small;
  text-align: center;
  margin: 0 25%;
}